### 1. Archivos específicos de Visual Studio (IDE) y Sistema (Windows) ###

# Archivos de configuración de usuario/solución
*.suo
*.user
*.config.user

# Archivos de la papelera de reciclaje de Windows
$Recycle.Bin/

# Archivos temporales de Windows
[Tt]humbs.db
# Archivo de metadatos de macOS (por si acaso)
.DS_Store

### 2. Carpetas de Compilación y Resultados de C# (dentro de GRASP_Builder/) ###

# Carpetas de resultados de compilación (.NET / C#)
GRASP_Builder/[Bb]in/
GRASP_Builder/[Oo]bj/
GRASP_Builder/[Dd]ebug/
GRASP_Builder/[Rr]elease/
# Archivos de empaquetado de NuGet
GRASP_Builder/*.nupkg

# Directorios de pruebas y entorno local de VS
GRASP_Builder/TestResults/
GRASP_Builder/.vs/
GRASP_Builder/*.log
GRASP_Builder/*.bak
GRASP_Builder/*.orig

# Carpetas de resultados de compilación (.NET / C#)
UnitTests/[Bb]in/
UnitTests/[Oo]bj/
UnitTests/[Dd]ebug/
UnitTests/[Rr]elease/
# Archivos de empaquetado de NuGet
UnitTests/*.nupkg

# Directorios de pruebas y entorno local de VS
UnitTests/TestResults/
UnitTests/.vs/
UnitTests/*.log
UnitTests/*.bak
UnitTests/*.orig

### 3. Archivos Generados por LaTeX (dentro de Thesis document/) ###

# Archivos de registro y auxiliares
Thesis document/*.aux
Thesis document/*.bbl
Thesis document/*.blg
Thesis document/*.brf
Thesis document/*.idx
Thesis document/*.lof
Thesis document/*.lot
Thesis document/*.out
Thesis document/*.toc
Thesis document/*.log
Thesis document/*.nav
Thesis document/*.snm
Thesis document/*.vrb
Thesis document/*.gz
Thesis document/*.synctex.gz
Thesis document/*.fls
Thesis document/*.fdb_latexmk

# Archivos de índices y glosarios
Thesis document/*.ind
Thesis document/*.ilg
Thesis document/*.gls
Thesis document/*.glo
Thesis document/*.ist


# Archivos de registro y auxiliares
User Manual/*.aux
User Manual/*.bbl
User Manual/*.blg
User Manual/*.brf
User Manual/*.idx
User Manual/*.lof
User Manual/*.lot
User Manual/*.out
User Manual/*.toc
User Manual/*.log
User Manual/*.nav
User Manual/*.snm
User Manual/*.vrb
User Manual/*.gz
User Manual/*.synctex.gz
User Manual/*.fls
User Manual/*.fdb_latexmk

# Archivos de índices y glosarios
User Manual/*.ind
User Manual/*.ilg
User Manual/*.gls
User Manual/*.glo
User Manual/*.ist


# Archivos de la salida final (si no quieres rastrearlos)
# Si quieres que el PDF final SÍ se rastree, elimina la siguiente línea.
$Thesis document/*.pdf

### 4. Carpetas adicionales que quieres ignorar ###
Scripts Daniel.zip
_Scripts/

# Directorio de paquetes restaurados
packages/